{% extends "app/base_site.html" %}

{% block title %} Invoice {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Local data in edge system</h3>
          <h4>you can check the device and sensor data on the edge system</h4>
          <h4>These data persist until the data can be moved “north” and then exported to Enterprise and cloud systems.</h4>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Device Detail <small>Sample user invoice design</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <section class="content invoice">
                <!-- title row -->
                <div class="row">
                  <div class="col-xs-12 invoice-header">
                    <h1>
                       <i class="fa fa-globe"></i> {{device_info.name}}
                    </h1>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">

                  <div class="col-sm-4 invoice-col">
                    <br>
                    <br>
                    <b>Device ID:</b> {{device_info.id}}}
                    <br>
                    <br>
                    <b>Name:</b> {{device_info.name}}
                    <br>
                    <br>
                    <b>Labels:</b> {{device_info.labels}}
                    <br>
                    <br>

                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->



                <!-- this row will not appear when printing -->
                <div class="row no-print">
                  <div class="col-xs-12">
                    <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
                    <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>
                    <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>


        {% for data in resource_data %}
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{data.name}} <small>stable</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title">Name </th>
                      <th class="column-title">Value </th>
                      <th class="column-title">Timestamp </th>
                      <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for n in data.reading %}
                        <tr class="even pointer">
                            <td class=" ">{{data.name}}</td>
                            <td class=" ">{{n.value}}</td>
                            <td class=" ">{{n.time}}</td>
                        </tr>   

                        <!-- <tr class="odd pointer">
                          <td class=" ">{{data.name}}</td>
                          <td class=" ">{{n.value}}</td>
                          <td class=" ">{{n.time}}</td>
                        </tr>   -->
                 
                    {% endfor %}
    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>  <!--end one content-->
        
        {% endfor %}

      </div>
    </div>
  </div>



{% endblock content %}

{% block javascripts %}
  {{ block.super }}

  <script>
    $('.btn_get').click(function(){
      var cmd_name = '#'+$(this).attr('cmd_name'); // div id = cmd_name
 
      $.ajax({
        url:'/api/v1/result',
        data: { 
              device_id:"{{device_info.id}}", 
              command_id: $(this).attr('data-resource') 
        }, 
        success:function(data){
          
          var str = '';
          for(var name in data){
            //str += '<li>'+name +'  :  '+ data[name]+'</li>';
            str += data[name];
          }    
          $(cmd_name+"_result").html('<ul>'+str+'</ul>'); 
        },
        error:function(e){  
          alert(e.responseText);  
        }
      })
    })

    $('.btn_set').click(function(){
      console.log("Called ");

      var cmd_name = '#'+$(this).attr('cmd_name'); // div id = cmd_name
      var id = $(this).attr('cmd_name');
      var params_list = document.getElementById(id).children; // html collection type
      
      // 1. 자바스크립트 객체 형태로 전달  
      var params = {}; 
      
      // make json for request body...
      for (let item of params_list) { // item is htmllielement type
        var id = item.textContent+"_input";
        params[item.textContent] = document.getElementById(id).value;
      }
      var params_str = JSON.stringify(params)


      $.ajax({
        beforeSend: function(request){
          request.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
        },
        url:'/api/v1/result',
        type:'POST',
        dataType:"json",
        data: {hi:'post',
              device_id:"{{device_info.id}}", 
              command_id: $(this).attr('data-resource'), 
              body: params_str     
        }, 
        success:function(data){
          var str = '';
          for(var name in data){
            str += '<li>'+name +'  :  '+ data[name]+'</li>';
          }    
          $(cmd_name).html('<ul>'+str+'</ul>');      
        },
        error:function(e){  

        }
      })
    })

  </script>

{% endblock javascripts %}