{% extends "app/base_site.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Device Registeration</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>New Device General Info <small>{{today}}</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />

              
              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"  method="post" enctype="multipart/form-data" novalidate >
                {% csrf_token %}
                
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="name" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Description" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>                

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">adminState</label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control" name="adminState">
                      <option value="UNLOCKED">UNLOCKED</option>
                      <option value="LOCKED">LOCKED</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">operatingState</label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control" name="operatingState">

                      <option value="ENABLED">ENABLED</option>
                      <option value="NOT_ENABLED">NOT ENABLED</option>

                    </select>
                  </div>
                </div>

                <br><br>
                <!-- New Device Related Profile File -->
                <div class="x_title">
                  <h2>New Device Related Profile File <small>different form elements</small></h2>
                  <div class="clearfix"></div>
                </div>    

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Device Profile</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" name="device_profile_list" id="device_profile_list">
                      </select>
                  </div>
                </div>


                <br><br>
                <!-- New Device Addressable -->
                <div class="x_title">
                  <h2>New Device Addressable <small>different form elements</small></h2>
                  <div class="clearfix"></div>
                </div>   

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Protocol</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Protocol" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Address" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Port</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Port" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">UnitID</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="UnitID" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <br><br>

                 <!-- New Device Service -->
                <div class="x_title">
                  <h2>New Device Related Service <small>different form elements</small></h2>
                  <div class="clearfix"></div>
                </div>   

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Device Service</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" name="device_service_list" id="device_service_list">
                      </select>
                  </div>
                </div>

                <br><br>

                 <!-- AutoEvents  -->
                <div class="x_title">
                  <h2>Set auto events <small>different form elements</small></h2>
                  <div class="clearfix"></div>
                </div>   
                <button class="btn btn-primary" type="button" id="add_button">add new field</button>
                
                <div id="auto-events">

                  <!-- <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Resource field</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="resource1" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>     

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Intervals</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="time1" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div> -->
                
                </div>
                

                <input id="field_num" type="hidden" name="field_num" value="0" class="form-control col-md-7 col-xs-12">


                <!-- Submit button field-->
                <div class="ln_solid"></div>

                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Cancel</button>
  		              <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

  <script>
    let cnt = 1;
    
    $("#add_button").click(function(){
      var strings = ["Resource field", "Intervals"];
      var names = ["resource", "time"];

      $('#auto-events').append($('<div/>', {class:'x_title'}));
      for(var i=0; i <2; i++){

        var newForm = $('<div></div>');
        newForm.attr("class", "form-group");
        newForm.append($('<label/>', {class:'control-label col-md-3 col-sm-3 col-xs-12'}).text(strings[i]));


        var divField = $('<div></div>');
        divField.attr("class", "col-md-6 col-sm-6 col-xs-12"); 
        divField.append($('<input/>', {type:'text', name: names[i]+cnt, class:'form-control col-md-7 col-xs-12'}));
        
        newForm.append(divField);
        $('#auto-events').append(newForm);
      
      }

      $('#field_num').val(cnt);
      cnt++;
    });

    $(document).ready(function() { 
      
      // Get Device Service List 
      $.ajax({
        url:'/api/v1/device_service',
        type:'GET',
        dataType:"json",
        success:function(data){

          for(var name in data){
            for(var i in data[name]){
              $('<option></option>').val(data[name][i]).text(data[name][i]).appendTo('#device_service_list');
            }
          }         
        },
        error:function(e){  
          
        }
      })



      // Get registered Device Profile List
      $.ajax({
        url:'/api/v1/device_profile',
        type:'GET',
        dataType:"json",
        success:function(data){

          for(var name in data){
            for(var i in data[name]){
              $('<option></option>').val(data[name][i]).text(data[name][i]).appendTo('#device_profile_list');
            }
          }      
        },
        error:function(e){  
          
        }
      })    
    
    });

  </script>

{% endblock javascripts %}


