{% extends "app/base_site.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Export Client Registeration</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>New Client General Info <small>{{today}}</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"  method="post" enctype="multipart/form-data" novalidate >
                {% csrf_token %}
                
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Name" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Description" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>                

                <br><br>

                <!-- New Device Addressable -->
                <div class="x_title">
                  <h2>New Client Addressable <small>different form elements</small></h2>
                  <div class="clearfix"></div>
                </div>   

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Protocol</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Protocol" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Address" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Port</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Port" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Path</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Path" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Method</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="Method" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <br><br>

                 <!-- New Device Service -->
                <div class="x_title">
                  <h2>Device Filter <small>Select the device from which you want to get data</small></h2>
                  <div class="clearfix"></div>
                </div>   

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Device List</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" name="Device" id="device_service_list">
                        <option value="ALL">ALL</option>
                      </select>
                  </div>
                </div>

                <br><br>

                <!-- Submit button field-->
                <div class="ln_solid"></div>

                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Cancel</button>
  		              <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

  <script>
    $(document).ready(function() { 
      
      // Get Device Service List 
      $.ajax({
        url:'/api/v1/device_name_list',
        type:'GET',
        dataType:"json",
        success:function(data){

          for(var name in data){
            for(var i in data[name]){
              $('<option></option>').val(data[name][i]).text(data[name][i]).appendTo('#device_service_list');
            }
          }         
        },
        error:function(e){  
          
        }
      })



      // Get registered Device Profile List
      $.ajax({
        url:'/api/v1/device_profile',
        type:'GET',
        dataType:"json",
        success:function(data){

          for(var name in data){
            for(var i in data[name]){
              $('<option></option>').val(data[name][i]).text(data[name][i]).appendTo('#device_profile_list');
            }
          }      
        },
        error:function(e){  
          
        }
      })    
    
    });

  </script>

{% endblock javascripts %}


